@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap');


body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .logo2 {
  height: 8%;
  width: 8%;
  padding-top: 20px;
  padding-left: 20px;
  position:relative;
  max-width: 100%;
  max-height: 100%;


} */

.nav{
  background-color: black !important;
  display: inline-block;
  
}


.navlinks{
  text-align: right;
 

  color: white;


}

.about{
  padding: 10px !important;
}

.headertext{
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  color: white !important;
  padding: 30px;
  font-size: 36px;
}
.endorsements {
  color: white !important;
  display: flex;
  flex-direction: column;

}

.quotes {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  font-size: 18px;
  font-family: 'Work Sans';
  padding: 50px;
}

.home-text{
  color: white !important;
  
}

.jacoboutline {
  
  position: relative;
  bottom: 0;
}

.homecontent {
  display: flex;
}
a {
  color: white;
  text-decoration: none;
  padding-right: 25px;
  font-size: 24px;
  font: 'Oswald';
}

a:hover {
  color: #b31e1e;
}

.btn-outline {
  color: white;
  border: solid 1px white;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus,
.btn-outline.active {
  border-color: white;
  
}

.main {
  display:flex;
  flex-wrap: wrap;
}

.abouttext {
  display: flex;
  color: white !important;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 50px;
  padding-bottom: 50px;
  font-size: 24px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

}

.column {
  display: flex;
  flex-direction:column;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  flex: 1;
}

